<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WebMidi Mix</title>

    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <script src="js/webmidi.min.js"></script>
    <script src="js/vue.js"></script>

    <script>
        var soundbanks = [];
    </script>
    <script src="soundbank/korg-pa50sd.js"></script>
    <script src="soundbank/akai-ewi5000.js"></script>
</head>
<body>

<script type="text/x-template" id="midi-track-template">
    <div class="track">
        <div>
        <p>Channel {{ channel }}</p>
        <label>Instrument
            <select v-model="instrument">
                <optgroup v-for="(instruments, group) in soundbank" :label="group">
                    <option v-for="(midiCC, name) in instruments" :value="midiCC">
                        {{name}}
                    </option>
                </optgroup>
            </select>
        </label>
        </div>
        <div>
        <label>Volume
            <input type="range" class="" min="0" max="127" v-model="volume">
        </label>
        </div>
    </div>
</script>

<div id="webmidimix">

    <div v-if="errorMessage" class="error">{{ errorMessage }}</div>
    <div v-else-if="midiOutput == null">Looking for MIDI devices…</div>
    <div  class="settings">
        <span v-if="midiOutput != null">
            <label for="midi-output">Midi Output:</label>
            <select id="midi-output" v-model="selectedMidiOutputId">
                <option v-for="output in WebMidi.outputs" :value="output.id" :key="output.id">{{ output.name }}</option>
            </select>
        </span>
        <span>
            <label for="current-soundbank">Sound Bank:</label>
            <select id="current-soundbank" v-model="currentSoundBank">
                <option v-for="(bank, soundBankName) in soundbanks" :value="bank">{{ soundBankName }}</option>
            </select>
        </span>
    </div>

    <midi-track v-for="channel in 16" :channel="channel" :soundbank="currentSoundBank"
        v-on:control-changed="onControlChanged"
        v-on:program-changed="onProgramChanged"
    />

    <div class="credits">
        <a href="https://github.com/b-viguier/WebMidiMix">WebMidiMix</a>
        by
        <a href="https://twitter.com/b_viguier">@b_viguier</a>
    </div>

</div>

<script src="js/WebMidiMix.js"></script>

</body>
</html>